.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	/* padding: 3rem; */
	/* min-height: 100vh; */
}

.main h1 {
	text-align: center;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
	font-family: var(--font-mono);
}

.description a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.description p {
	position: relative;
	margin: 0;
	padding: 1rem;
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}

.forcesList {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.force {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
	height: 50px;
}

.socials div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialLinks div {
	transition: all 0.3s ease;
}

.socialLinks div:hover {
	position: absolute;
	width: 40px !important;
	height: 40px !important;
}

.link {
	color: #c4b29f;
}

.link:hover {
	color: #f0db4f;
	text-decoration: underline;
}

.searchBar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	width: 50%;
}

.search {
	width: 35%;
	border: none;
	border-bottom: 1px solid #a47667;
	padding: 5px;
	height: 20px;
	outline: none;
	background: transparent;
	font-size: 16px;
	border-radius: 0;
	caret-color: transparent;
	transition: border-bottom 0.5s ease, width 0.5s ease, caret-color 0.7s ease;
}

.search:focus {
	caret-color: white;
	border-bottom: 1px solid white;
}

.searchIcon {
	text-align: center;
}

@media (max-width: 700px) {
	.search:focus {
		caret-color: white;
		border-bottom: 1px solid white;
		width: 100%;
	}
}

.seniorOfficers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	width: 90%;
}

.seniorOfficers h2 {
	text-align: center;
	margin: 1em;
}

/* .officersDisplay {
	column-count: 3;
	column-gap: 1em;
	width: 100%;
}

.officersDisplay > div {
	box-sizing: border-box;
	margin-bottom: 1em;
	break-inside: avoid;
}

.officer {
	padding: 1rem;
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
} */

.officersDisplay {
	/* column-count: 4; */
	column-gap: 1em;
	width: 100%;
}

.officer {
	margin-bottom: 1em;
	display: block;
	width: 100%;
	box-sizing: border-box;
	break-inside: avoid;
	padding: 1rem;
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}

@media (min-width: 600px) {
	.officersDisplay {
		column-count: 2;
	}
}

@media (min-width: 900px) {
	.officersDisplay {
		column-count: 3;
	}
}

@media (min-width: 1200px) {
	.officersDisplay {
		column-count: 3;
	}
}

.bio {
	margin-top: 1em;
}
/* Mobile */
/* @media (max-width: 700px) {
	.description {
		font-size: 0.8rem;
	}

	.description a {
		padding: 1rem;
	}

	.description p,
	.description div {
		display: flex;
		justify-content: center;
		position: fixed;
		width: 100%;
	}

	.description p {
		align-items: center;
		inset: 0 0 auto;
		padding: 2rem 1rem 1.4rem;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
		background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
		background-clip: padding-box;
		backdrop-filter: blur(24px);
	}

	.description div {
		align-items: flex-end;
		pointer-events: none;
		inset: auto 0 0;
		padding: 2rem;
		height: 200px;
		background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
		z-index: 1;
	}
} */
